
<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
    <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
    <video autoplay loop poster="http://mattgrossdesign.com/raw-media/first-frame-screencap" id="video-background" muted>
      <source src="/assets/videos/tech_office.mp4" type="video/mp4">
    </video>
    <div class="row" id="check-rate-form">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="headline">Fund your tech education. From as low as 6.78% APR.</h1>
        <button class="btn btn-info">Check your rate</button>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
